<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
   </startup>
   <appSettings>
      <add key="server" value="MhMby3dhLzoRRzb6OkZFCA==" />  
      <add key="user id" value="mKJdOdT1xShYM2CG/DHFkg==" />  
      <add key="password" value="P91mMEl0IE/u+FsKLvjGDw==" />  
      <add key="database" value="/Fi98kD2BgiW4zwYGxetiQ==" />
      <add key="serveurSMTP" value="wuTY7jzwZGaVBQTuulAb9Q=="/>
      <add key="portSMTP" value="587"/>
      <add key="adrMailFrom" value="qLeZnqYkpWiOfUF/RJa+qjO5hJr3uWYNJEJJYwEf0E8="/>
     <add key="passMailFrom" value="sEQWoNW8N+2AcSh0It4Oo3UXhtmtOM7sP1rdNfH2eso="/>
  </appSettings>  
  <runtime>  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
            <dependentAssembly>  
                 <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />  
            </dependentAssembly>  
       </assemblyBinding>  
  </runtime>
</configuration>
